In [19]:
import pandas as pd

df = pd.read_excel("Data/expense1.xlsx")

df.loc[df["Amount"] <= 500, "Status"] = "Good expense"
df.loc[df["Amount"] > 500, "Status"] = "High Expense"

# print(df.head())
print(df.tail())
# print(df.columns)

                 Date               Account Category  Subcategory  \
272               NaN                   NaN      NaN          NaN
273               NaN                   NaN      NaN          NaN
274               NaN                   NaN      NaN          NaN
275               NaN                   NaN      NaN          NaN
276  11/21/2021 13:30  CUB - online payment    Other          NaN

              Note     INR Income/Expense  Note.1  Amount Currency  Account.1  \
272            NaN     NaN            NaN     NaN     NaN      NaN        NaN
273            NaN     NaN            NaN     NaN     NaN      NaN        NaN
274            NaN     NaN            NaN     NaN     NaN      NaN        NaN
275            NaN     NaN            NaN     NaN     NaN      NaN        NaN
276  Got from gobi  2000.0         Income     NaN  2000.0      INR     2000.0

           Status
272           NaN
273           NaN
274           NaN
275           NaN
276  High Expense

In [2]:
import pandas as pd
data = pd.read_excel("Data/practice.xlsx")
# print(data)

data["Full Name"] = data["FirstName"] +" "+data["LastName"]
print(data)

  FirstName LastName  Salary   EEID     Full Name
0      Amit   Sharma   45000  E1001   Amit Sharma
1      Neha    Verma   52000  E1002    Neha Verma
2     Rohit    Mehta   60000  E1003   Rohit Mehta
3     Priya    Singh   48000  E1004   Priya Singh
4     Karan    Patel   75000  E1005   Karan Patel
5     Sneha     Iyer   68000  E1006    Sneha Iyer
6     Arjun   Kapoor   55000  E1007  Arjun Kapoor
7     Pooja     Nair   47000  E1008    Pooja Nair
8    Vikram      Rao   82000  E1009    Vikram Rao
9    Anjali    Gupta   39000  E1010  Anjali Gupta