In [ ]:
import pandas as pd


data = {"Name":["John","Peter","Lisa"],
        "Age":[25,28,31],
        "Salary":[30000,40000,50000]
        }

df = pd.DataFrame(data)
print(df)

In [ ]:
import pandas as pd
data = pd.read_csv("customers.csv")
print(data)

In [5]:
data = pd.read_excel("expense1.xlsx")
# print(data)
# print(data.head(10)) #head given upper info
print(data.tail(10))   #tail given lower info

                 Date               Account        Category  Subcategory  \
267  11/24/2021 19:23  CUB - online payment            Food          NaN
268  11/24/2021 19:06  CUB - online payment            Food          NaN
269  11/24/2021 19:06  CUB - online payment  Transportation          NaN
270  11/23/2021 22:53  CUB - online payment  Transportation          NaN
271  11/23/2021 22:53  CUB - online payment            Food          NaN
272  11/22/2021 14:16  CUB - online payment            Food          NaN
273  11/22/2021 14:16  CUB - online payment            Food          NaN
274  11/21/2021 17:07  CUB - online payment  Transportation          NaN
275  11/21/2021 15:50  CUB - online payment            Food          NaN
276  11/21/2021 13:30  CUB - online payment           Other          NaN

                   Note     INR Income/Expense  Note.1  Amount Currency  \
267              Dinner    70.0        Expense     NaN    70.0      INR
268           Panipoori    20.0        Expense     NaN    20.0      INR
269              Rapido    58.0        Expense     NaN    58.0      INR
270              Rapido    50.0        Expense     NaN    50.0      INR
271              Dinner   179.0        Expense     NaN   179.0      INR
272              Dinner    90.0        Expense     NaN    90.0      INR
273  Lunch with company    97.0        Expense     NaN    97.0      INR
274              Rapido   130.0        Expense     NaN   130.0      INR
275               Lunch   875.0        Expense     NaN   875.0      INR
276       Got from gobi  2000.0         Income     NaN  2000.0      INR

     Account.1
267       70.0
268       20.0
269       58.0
270       50.0
271      179.0
272       90.0
273       97.0
274      130.0
275      875.0
276     2000.0

In [6]:
print(data.info()) #shows the structure and basic information of a dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            277 non-null    object
 1   Account         277 non-null    object
 2   Category        277 non-null    object
 3   Subcategory     0 non-null      float64
 4   Note            273 non-null    object
 5   INR             277 non-null    float64
 6   Income/Expense  277 non-null    object
 7   Note.1          0 non-null      float64
 8   Amount          277 non-null    float64
 9   Currency        277 non-null    object
 10  Account.1       277 non-null    float64
dtypes: float64(5), object(6)
memory usage: 23.9+ KB
None

In [7]:
print(data.describe()) #gives descriptive statistics of the dataset.

       Subcategory           INR  Note.1        Amount     Account.1
count          0.0    277.000000     0.0    277.000000    277.000000
mean           NaN    410.750903     NaN    406.759134    406.759134
std            NaN   1065.756569     NaN   1065.158318   1065.158318
min            NaN      3.000000     NaN      3.000000      3.000000
25%            NaN     50.000000     NaN     50.000000     50.000000
50%            NaN    128.000000     NaN    125.000000    125.000000
75%            NaN    301.150000     NaN    300.000000    300.000000
max            NaN  10000.000000     NaN  10000.000000  10000.000000

In [9]:
# print(data.isnull()) #is used to detect missing values in data.
print(data.isnull().sum()) #is used to count the number of missing values in each column of a dataset.

Date                0
Account             0
Category            0
Subcategory       277
Note                4
INR                 0
Income/Expense      0
Note.1            277
Amount              0
Currency            0
Account.1           0
dtype: int64