In [1]:
import pandas as pd

data = pd.read_csv('Data/customers.csv')
print(data)

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f       NaN
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry    NaN   60000.0
3        DD40     Linda Olsen      F       NaN
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter    NaN   20000.0

In [3]:
# print(data.isnull())
print(data.isnull().sum())

Customer Id    0
Name           0
Gender         2
Salary         2
dtype: int64

Dropna if you can use then drop all the data where is NaN values that is not good approach because it is also drop you important data

In [16]:
print(data.dropna()) # use this Method according to condition

  Customer Id            Name Gender    Salary
1        DD38  Preston Lozano      m   40000.0
4        DD41   Joanna Bender      M  100000.0

In [17]:
print(data)

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f       NaN
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry    NaN   60000.0
3        DD40     Linda Olsen      F       NaN
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter    NaN   20000.0

If you can replace using this method - data.replace(np.nan,30000) that is issue occurance in your data means if gender colum the NaN that is also replace of ( eg: 30000) this values. it is wrong way.

In [18]:
import numpy as np
print(data.replace(np.nan,30000)) # use this method according to condition

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   30000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry  30000   60000.0
3        DD40     Linda Olsen      F   30000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter  30000   20000.0

In [19]:
#how to best approach to replace NaN to another values look at

# print(data)
print(data["Salary"].mean())

55000.0

Here look first we find salary mean then replace in salary colum with mean values. it is not reflected you data after you fill the NaN value with mean value

In [20]:
data["Salary"] = data["Salary"].replace(np.nan,55000.0) # It is one approach
print(data)

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   55000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry    NaN   60000.0
3        DD40     Linda Olsen      F   55000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter    NaN   20000.0

In [21]:
print(data["Salary"].mean())

55000.0

In [22]:
print(data)

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   55000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry    NaN   60000.0
3        DD40     Linda Olsen      F   55000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter    NaN   20000.0

In [23]:
print(data.fillna(method = "bfill")) # Backward fill

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   55000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry      F   60000.0
3        DD40     Linda Olsen      F   55000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter    NaN   20000.0

C:\Users\arsul\AppData\Local\Temp\ipykernel_16872\3222202823.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill")) # Backward fill

In [26]:
print(data.fillna(method = "ffill")) # forward fill

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   55000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry      m   60000.0
3        DD40     Linda Olsen      F   55000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter      M   20000.0

C:\Users\arsul\AppData\Local\Temp\ipykernel_16872\2184828880.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "ffill")) # forward fill

In [25]:
print(data.fillna('hi'))

  Customer Id            Name Gender    Salary
0        DD37   Sheryl Baxter      f   55000.0
1        DD38  Preston Lozano      m   40000.0
2        DD39       Roy Berry     hi   60000.0
3        DD40     Linda Olsen      F   55000.0
4        DD41   Joanna Bender      M  100000.0
5        DD37   Sheryl Baxter     hi   20000.0