In [3]:
#Example : 1
import pandas as pd


data1 = {"Emp Id":["E01","E02","E03","E04","E05"],
         "Names":["Ram","Shyam","Rahul","Ramu","Ramiya"],
         "Age":[34,34,29,28,32]}


data2 = {"Emp Id":["E01","E02","E03","E04","E05"],
         "Salary":[45000,56000,34000,50000,40000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   34
2    E03   Rahul   29
3    E04    Ramu   28
4    E05  Ramiya   32

  Emp Id  Salary
0    E01   45000
1    E02   56000
2    E03   34000
3    E04   50000
4    E05   40000

In [6]:
print(pd.merge(df1,df2, on = "Emp Id")) #merge opeation

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E02   Shyam   34   56000
2    E03   Rahul   29   34000
3    E04    Ramu   28   50000
4    E05  Ramiya   32   40000

In [8]:
#Example:2
import pandas as pd


data1 = {"Emp Id":["E01","E02","E03","E07","E05"],
         "Names":["Ram","Shyam","Rahul","Ramu","Ramiya"],
         "Age":[34,34,29,28,32]}


data2 = {"Emp Id":["E01","E06","E03","E04","E05"],
         "Salary":[45000,56000,34000,50000,40000]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(df1)
print()
print(df2)

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   34
2    E03   Rahul   29
3    E07    Ramu   28
4    E05  Ramiya   32

  Emp Id  Salary
0    E01   45000
1    E06   56000
2    E03   34000
3    E04   50000
4    E05   40000

In [9]:
print(pd.merge(df1,df2, on = "Emp Id")) #merge opeation only give you matching values

  Emp Id   Names  Age  Salary
0    E01     Ram   34   45000
1    E03   Rahul   29   34000
2    E05  Ramiya   32   40000

In [10]:
print(pd.merge(df1,df2, on = "Emp Id", how="left")) #merge opeation with left

  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   34      NaN
2    E03   Rahul   29  34000.0
3    E07    Ramu   28      NaN
4    E05  Ramiya   32  40000.0

In [11]:
print(pd.merge(df1,df2, on = "Emp Id", how = "right"))  #merge opeation with right

  Emp Id   Names   Age  Salary
0    E01     Ram  34.0   45000
1    E06     NaN   NaN   56000
2    E03   Rahul  29.0   34000
3    E04     NaN   NaN   50000
4    E05  Ramiya  32.0   40000

In [13]:
#EXAMPLE: 3
import pandas as pd


data1 = {"Emp Id":["E01","E02","E03","E07","E05"],
         "Names":["Ram","Shyam","Rahul","Ramu","Ramiya"],
         "Age":[34,34,29,28,32]}


data2 = {"Emp Id":["E06","E07","E08","E09","E10"],
         "Names":["Guddu","Bantu","Santu","Golu","Sonu"],
         "Age":[34,34,29,28,32]}


df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

print(pd.concat([df1,df2]))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   34
2    E03   Rahul   29
3    E07    Ramu   28
4    E05  Ramiya   32
0    E06   Guddu   34
1    E07   Bantu   34
2    E08   Santu   29
3    E09    Golu   28
4    E10    Sonu   32